/*imported font-ներմուծված ֆոնտ*/

@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/*animation-անիմացիա*/
.ball {
  position:fixed;
  border-radius: 100%;
  opacity: 1;
}

body {
  background-image: url(https://thumbs.dreamstime.com/b/%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BB%D1%8C-%D1%81%D0%BE%D0%BB%D0%BD%D0%B5%D1%87%D0%BD%D0%BE%D0%B3%D0%BE-%D1%81%D0%B2%D0%B5%D1%82%D0%B0-%D0%B8%D0%B7%D0%BB%D1%83%D1%87%D0%B0%D0%B5%D1%82-%D1%84%D0%BE%D0%BD-%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D0%B0%D1%8F-%D0%B8-%D0%B1%D0%B5%D0%BB%D0%B0%D1%8F-%D1%81%D0%B8%D0%B3%D0%BD%D0%B0%D0%BB%D0%B0-195962027.jpg);
  background-repeat: no-repeat;
  background-size: 137.2%;
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;

}

/*Մենյուի կարմիր 3 գծի տեղաշարժ*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  margin-left: -3.2%;
  margin-top: -3%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: rgb(81, 38, 38) ;
  transition: color 0.3s ease;
  font-family: 'Lemon', cursive;
}

#menuToggle a:hover
{
  color: blue;
  font-size: 25px;
  

}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: red;
  border-radius: 3px;
  
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: red;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

 /**/
#menu
{
  position: absolute;
  width: 300px;
  margin: -75px 0 0 -140px; /*պատուհանը տանում ես ավելի ձախ*/
  padding: 10px;
  padding-top: 80px;
  border: 7px ridge aqua;
  
  background: yellow;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menu li:hover
{
  
  font-size: 30px;
  font-family: 'Lemon', cursive;

}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}























/*heder-վերնագիր*/
.ttt {
  text-align: center;
  background: white;
  font-size: 150%;
  font-family: 'Lemon', cursive;
  color: red;
  margin: 0 auto;
  justify-content: center;
  width: 31%;
}




/*Top block-Վերևի բլոկ*/
.icon {
  display: block;
  background: #c9f2fb;
  width: 85%;
  margin: 0 auto;
  justify-content: center;
  border: 6px ridge aqua;
 
  
  
 
}

/*icon1 REDSTOR*/
.icon1 {
  margin-top: 0.4%;
  margin-left: 0.5%;
  
  width: 15%;
  border: 7px ridge rgb(136, 136, 244);
  background: white;

}

/*Top block buttons-Վերևի բլոկի կնոպկաներ */

ul {
  list-style-type: none;
  text-align: center;
  margin-top: -4.5%;
  margin-left: 48.5%;
  
}
/*li*/
.butt{
  color: white;
}

.butt1 {
  padding: 5px 15px;
  font-size: 19px; 
  cursor: pointer;
  text-align: center;
  font-family: 'Lemon', cursive;
  color: #fff;
  background-color: rgb(113, 113, 239);
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px yellow;
}

.butt1:hover {
  background-color: #df00df;
  font-size: 20.5px;
}

.butt1:active {
  background-color: orangered;
  box-shadow: 0 5px rgb(93, 93, 245);
  transform: translateY(4px);
}

/*պայուսակի նկար*/
.bag {
  height: 26px;
  width: 26px;
}




.advertisement1{
  
  width: 16%;
  margin-left: 5%;
}
.advertisement2{
  
  
  width: 15.7%;
  margin-left: 8%;
}
.advertisement3{
  
  width: 17%;
  margin: auto 8%;
  justify-content: center;
}
.advertisement4{
  
  width: 16%;
  margin-left: 1%;
}



/* Bottom block-2, pictures-Ներքևի բլոկ-2, նկարներ*/

.row {
  display: flex;
  /*անվանում են flexbox, նկարները իրար կողք տեղադրելու համար*/
  background: white;
  height: 50%;
  width: 75%;
  margin: 18.2% auto;
  justify-content: center;
}


.column {
  flex: 25%;
  background-size: 1600px 800px;
  border: 6px ridge aqua;
  text-align: center;
  background: white;
  margin-top: -265px;

}

.bluz1 {
  height: 300px;
  width: 220px;
}

.shoes {
  height: 300px;
  width: 220px;
}

.pants {
  height: 300px;
  width: 220px;

}

.shoes2 {
  height: 300px;
  width: 220px;
}

.bluz2 {
  height: 300px;
  width: 220px;
}

/*To remove the bottom line of a link-Լինքի ներքևի գիծը հանելու համար*/
a:link {
  text-decoration: none;
}

/*Bottom block-2 stars-Ներքևի բլոկ-2-ի աստղեր*/

.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0% auto;
  position: relative;
}

/* hide the inputs */
.star-rating input {
  display: none;
}

/* set properties of all labels */
.star-rating>label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;

}

/* give label a hover state */
.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;

}

.star-rating label:active::before {
  transform: scale(1.1);

}

/* set shape of unselected label */
.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;

}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked~label:before {
  content: '\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

/*Bottom block-3, pictures-Ներքևի բլոկ-3, նկարներ */
/*.row {
  display: flex;
  անվանում են flexbox, նկարները իրար կողք տեղադրելու համար
  background: white;
  height: 50%;
  width: 75%;
  margin: 18.2% auto;
  justify-content: center;
}


.column {
  flex: 25%;
  background-size: 1600px 800px;
  border: 6px ridge aqua;
  text-align: center;
  background: white;
  margin-top: -265px;

}*/




.row2 {
  display: flex;
  background: white;
  width: 75%;
  margin: 0% auto;
  justify-content: center;
}



.column2 {
  flex: 25%;
  background-size: 1600px 800px;
  border: 6px ridge aqua;
  text-align: center;
  background: white;
  margin-top: -275.8px;

}

.bluz3 {
  height: 300px;
  width: 220px;
  
  
}

.shoes3 {
  height: 300px;
  width: 220px;
}

.pants2 {
  height: 300px;
  width: 220px;

}
.shoes4 {
  height: 300px;
  width: 220px;
}

.bluz4 {
  height: 300px;
  width: 220px;
 
}

/*Bottom block-3 stars-Ներքևի բլոկ-3-ի աստղեր*/

.star-rating2 {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0% auto;
  position: relative;
}

/* hide the inputs */
.star-rating2 input {
  display: none;
}

/* set properties of all labels */
.star-rating2>label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

/* give label a hover state */
.star-rating2 label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}

.star-rating2 label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating2 label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating2 input:checked~label:before {
  content: '\2605';
}

@-moz-document url-prefix() {
  .star-rating2 input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}









.row3 {
  display: flex;
  background: white;
  height: 50%;
  width: 75%;
  margin: 17.6% auto;
  justify-content: center;
}
/*  display: flex;
  background: white;
  height: 50%;
  width: 75%;
  margin: 0% auto;
  justify-content: center;*/
.column3 {
  flex: 25%;
  background-size: 1600px 800px;
  border: 6px ridge aqua;
  text-align: center;
  background: white;
  margin-top: -267px;

}

.bluz5 {
  height: 300px;
  width: 220px;
}

.shoes5 {
  height: 300px;
  width: 220px;
}

.pants3 {
  height: 300px;
  width: 220px;

}
.shoes6 {
  height: 300px;
  width: 220px;
}

.bluz6 {
  height: 300px;
  width: 220px;
}

/*Bottom block-3 stars-Ներքևի բլոկ-3-ի աստղեր*/

.star-rating3 {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0% auto;
  position: relative;
}

/* hide the inputs */
.star-rating3 input {
  display: none;
}

/* set properties of all labels */
.star-rating3>label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

/* give label a hover state */
.star-rating3 label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}

.star-rating3 label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating3 label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating3 input:checked~label:before {
  content: '\2605';
}

@-moz-document url-prefix() {
  .star-rating3 input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}
















/*bottom line and site endpoint-ներքևի գիծ և կայքի վերջնամաս*/
hr {
  border-top: 3px solid rgb(184, 118, 245);
}

footer {
  text-align: center;
  font-size: 20px;
  color: rgb(108, 37, 173);
  
}

/*սա մեդիա է, օրինակ հեռախոսների դեպքում էկրանի լայնքը 600px-ից
քիչ պետք է background-ի գույնը փոխի դեղին*/
@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}